* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.text-center {
    text-align: center;
    margin: 20px;
    text-wrap: balance;
}
.heading {
    font-size: 2rem;
    margin: 10px 0px;
    color: rgb(0, 91, 0);
}
.single-product-img {
    width: 100%;
}
.single-product {
    padding: 20px;
    background-color: rgb(221, 255, 227);
    border-radius: 10px;
    max-width: 250px;
}
.productos-container {
    margin: 20px 0px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}